<!DOCTYPE html>
<!--excited about my second homework site-->
<html>
<head>
	<title>ERTS - Text</title>
	<meta charset="utf-8">  
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" zoom="1.0">
	<!--for making the website more responsive-->
  	<meta http-equiv="X-UA-compatible" content="ie=">
  	<!--for Favicon-->
  	<link rel="shortcut icon" type="image/png" href="https://img.techpowerup.org/200517/prodipto.png">
  	<!--for CSS-->
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
	<!--link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"/ -->
</head>

<body>
	<header class="showcase">
		
		<nav>
			<a href="#" class="btn btn-m"> Sign in <i class="fas fa-chevron-right btn-icon"></i>
			</a>
		</nav>
		<!--inside the following div we could write : style="background-image: url('https://img.techpowerup.org/200613/netflix-backgroung-image.jpg');"-->
		<div class="showcase-content" >
			<br><br><br><br><br><br>
			<h1>Emotion Predictor<br>Text & Speech</h1>
			<br><br>
			<div class="search-box">
			<input class="search-txt" type="text" name="box" placeholder="Enter text"><a href="#" class="btn  btn-x1">PREDICT NOW<i class="fas fa-chevron-right btn-icon"></i>
			</a>
			<br>
			<a class="btn  btn-x1" href="/recorder">Record Audio</a>
			<br>
			<div>
				<h3>Ready to get emotion?  Enter your Email to create an account or sign in,</h3><a>Login</a>
				<br><br>				
			</div>	
			</div>
			
		</div>
			
	</header>
	<footer class="page-down">
			<p>Queries? Call Dheeraj S Reddy(Koramangala) - Mehul Bhandari(Basavangudi)</p>
			<p><a href="#"></a></p>
	</footer>
</body>
</html>
<!--end of my shitty project-->